# Script summarize for prject
/python_summary/

#src file in CypressTests
/Main.ts

/.idea/
# Python cache folders
PythonTests/__pycache__
PythonTests/services/__pycache__
PythonTests/tests/__pycache__

#Virtual python env
venv/

#Python cache files
*.pyc

#JSONs

/data/dashboards.json
/data/users.json
/data/organizations.json

#Allure 

/allure-results
.env
